/* ##### IMPORTS ##### */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Open+Sans:wght@300&family=PT+Sans&family=Roboto:wght@500&display=swap');


*{
  /* font-family: 'Open Sans', sans-serif; */
  /* font-family: 'PT Sans', sans-serif; */
  /* font-family: 'Roboto', sans-serif; */
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

/* ####### Layout Stuff ######## */


body{
  display: flex;
  flex-direction: column;
  width: 100%;
}