/* ##### IMPORTS ##### */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Open+Sans:wght@300&family=PT+Sans&family=Roboto:wght@500&display=swap');


*{
  /* font-family: 'Open Sans', sans-serif; */
  /* font-family: 'PT Sans', sans-serif; */
  /* font-family: 'Roboto', sans-serif; */
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}



:root {
  --header-color: #0A306D;
  --header-text-color: #B0CAFF;
  --subhead-task-color: #134697;
  --subhead-task-text-color: #ffffff;
  --subhead-project-color: #9E803E;
  --subhead-project-text-color: #ffffff;
  --project-task-color: #859034;
  --edit-form-project-color: #554c37;
  --project-menu-item-color: #9E803E;
  --project-task-text-color: #ffffff;
  --task-bg-color: #d5d5d5;
  --task-item-bg-color: #4277af;
  --project-list-item-color: #a26273;
  --project-list-item-text-color: #ffffff;
  --project-bg-color: #ffffff;
  --sidebar-bg-color: #d7c49b;
  --footer-color: #0A306D;
  --footer-text-color: #B0CAFF;
  --link-color: #9bd5ff;
  --link-hover-color: #ffa6a6;
  --button-project-color: #ff8bcf;
  --button-project-text-color: #ffffff;
  --button-task-color: #e1d52b;
  --button-task-text-color: #1e1e1e;
  --button-edit-color: #949494;
  --button-edit-text-color: #5c5c5c;
  --button-small-submit-text: #2eb234;
  --button-small-submit-bg: #c5c5c5;
  --button-small-delete-text: #621f1f;
  --button-small-delete-bg: #c0c0c0;
  --button-close-form: linear-gradient( to bottom, #acb3b8, #eee, #a1abb2);
  --error-text: #ff0000;
  
}

/* ####### Layout Stuff ######## */
body{
  margin: 0;
  padding: 0;
}

html, body{
  height: 100vh;
}


.flexbox{
  display: flex;
}

.App{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  flex: 1;
}

nav{
  flex-direction: row;
  justify-content: space-between;
  align-items: center; 
  background-color: var(--header-color);
  width: 100%;
}

nav h1{
  font-size: 3rem;
  padding: 0;
  margin: 1rem;
  color: var(--header-text-color);
  
}

.menu-toggle img{
  height: 3rem;
  width: 3rem;
  cursor: pointer;
}

main{
  flex-direction: row;
  min-height: 80vh;
  height: 100%;
  
  width: 100%;
  background-color: var(--project-bg-color); 
}

Footer{
  background-color: var(--footer-color);
  flex-direction: column;
  width: 100%;
}

Footer h4{
  color: var(--footer-text-color);
  display: block;
  margin: 0.25rem;
  padding: 0.25rem;
  gap: 0.5rem;
  font-size: 16px;
}

/* main content/selected project layout */
#current-project{
  flex-direction: column;
  min-width: 400px;
  max-width: 3000px;
  width: 100%;
  
}

.selected-project-header-container{
  display: flex;
  padding: 50px;
  height: 50px;
  background-color: var(--subhead-task-color);
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  
  margin: 10px auto;
  margin-bottom: 0px;
  width: 95%;
}

.selected-project-header{
  font-size: 2rem;
  color: var(--subhead-task-text-color)
}

.project-tasks-container{
  width: 100%;
}

.project-tasks{
  flex-direction: column;
  width: 95%;
  margin: 10px auto;
  margin-top: 10px;
  gap: 15px;
  
}

.task-item-container{

  background-color: var(--task-item-bg-color);
  border-radius: 20px;
  padding: 10px;
  position: relative;
  width: 100%;
  /* SIZE //////////////////// */
}

.task-menu-item{
  flex-direction: column;
  justify-content: space-between;
    
}

.task-info-container, .task-details-container{
  width: 90%;
}

.task-info-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  
  
}
.h3-title{
  text-align: center;
}

.h3-status{
  text-align: right;
}

.task-info{
  color: var(--project-task-text-color);
}

.task-info .h3-date{
  flex-grow: 1;
}

.task-info-container h3{
  font-size: 1.3rem;
  font-weight: 800;
  /* color: var(--project-task-text-color); */
}

.task-details-container{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  
}
.task-details-container p{
  font-size: 1.2rem;
}

#add-new-task{
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 5px 20px;
  width: fit-content;
  margin: 10px auto;
  
  padding:15px;
  background-image: linear-gradient(to bottom, #0051ff, #009dff, #00b7ff, #007bff, #0044ff);
  color: var(--button-project-text-color);
  font-family: 'Roboto', sans-serif;
  border-radius: 15px;
  cursor: pointer;
/*   width: fit-content; */
  justify-content: center;
  align-items: center;

}

.add-icon{
  height: 35px;
  width: 35px;

}

.form-hide-button{
  align-items: center;
  font-size: 20px;
}



/* project sidebar layout */

#projects-sidebar{
  flex-direction: column;
  width: 40%;
  min-width: 200px;
  align-items: center;
  background-color: var(--sidebar-bg-color);
  display: block;
  padding: 0.5rem;
  color: var(--button-edit-text-color);
}

.projects-menu-title{
  background-color: var(--subhead-project-color);
  color:var(--subhead-project-text-color);
  padding: 30px;
  height: 80px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  width: 95%;
  margin-left: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.projects-menu{
  flex-direction: column;
  width: 95%;
  justify-content: center;
  gap: 10px;
  margin-left: 1rem;
  margin-right: 1rem;
  color: var(--project-list-item-text-color);
  
}

.project-list{
  gap: 10px;
}

.project-menu-item{
  justify-content: space-between;
  align-items: center;
  background-color: var(--project-menu-item-color);
  border-radius: 20px;
  
}
.project-item-heading{
  font-size: 1.3rem;
  /* font-family: 'Open Sans', sans-serif; */
  font-family: 'PT Sans', sans-serif;
  /* font-family: 'Roboto', sans-serif; */
}

.project-item-heading:hover, .project-item-heading:focus{
  text-shadow: 1px 1px 18px rgba(255, 255, 255, 0.757);
  cursor: pointer;

}

#add-new-project {
  justify-content: center;
  align-items: center;
  gap: 5px;
  background-image: linear-gradient(to bottom, #7e7508, #877f2b, #cdb16a, #ac9629, #7d730a);
  color: var(--button-project-text-color);
  border-radius: 15px;
  padding: 13px 15px;
  margin-top: 10px;
  cursor: pointer;
  width: fit-content;
  margin: auto;
  margin-top: 1rem;
  color: var(--button-project-text-color);
  font-family: 'Roboto', sans-serif;
}

p{
  color: black;
}

.project-list{
  flex-direction: column;
}


/* ##### FORM LAYOUT ##### */
.edit-form-project-name{
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin: 5px auto;
  height: fit-content;
  width: 85%;
  min-height: 100px;
  
  background-color: var(--edit-form-project-color);
  padding: 5px;
  border-radius: 10px;
  
}

.edit-form-project-name input{
  font-size: 1rem;
  width: 75%;
}

.edit-form-project-name label{
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
}

.new-project-form{
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 75%;
  margin: 10px auto;
  background-color: var(--edit-form-project-color);
  border-radius: 15px;
}
.new-project-form input{
  font-size: 1.2rem;
  width: 75%;
  height: 1.7rem;

}

.new-project-form label{
  color: var(--button-project-text-color);
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  
}

.new-project-form-Form{
  padding: 13px;
  margin-left: 5px;
  margin: 1px auto;
}

.new-project-submit{
  height: 1.7rem;
  transform: translateY(-2px);

}

.new-task-form{
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  justify-content: center;
  margin: 10px auto;
  height: -moz-fit-content;
  height: fit-content;
  width: 75%;
  min-height: 100px;
  background-color: var(--task-item-bg-color);
  padding: 5px;
  border-radius: 10px;
}

.new-task-form-Form{
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  justify-content: center;
  margin: 10px auto;
}

.new-task-form label{
  color: var(--button-project-text-color);
  font-weight: 800;
  font-size: 1.3rem;
}

.task-info-input input{
  position: relative;
}

.new-task-error{
  position: absolute
}

.input-wrapper-new-task{
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
  justify-items: start;
  align-items: start;
  /* TODO these will need to be flexboxes with media query */
}
.task-info-textarea textarea{
  width: clamp(200px, 500px, 600px);
  height: 50px;
}

.flexbox-checkbox{
  display: flex;
  align-items: center;
}

.button-wrapper-new-task{
  margin: 1px auto;
  
}

.button-wrapper-new-task button{
  width: 5rem;
  margin: 0 5px;
  background-image: linear-gradient(to bottom, #5d5d5d, #6e6e6e, #949494, #6e6e6e, #646464);
  color: var(--button-project-text-color);
  font-family: 'Roboto', sans-serif;
  border-radius: 10px;
  padding: 5px 5px;
}


.close-btn{
  position: absolute;
  top: 5px;
  right: 5px;
  border-radius: 25px;
  width: 25px;
  height: 25px;
  cursor: pointer;
  color: rgb(28, 28, 28);
  background:linear-gradient( to bottom, #bcc6cc, #eee, #bcc6cc);
}

.Field{
  position: relative;
  
}
.Form{
  margin-left: 10px;
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.Field.date-input, .Field.task-input{
  width: 75%;
  height: 1.5rem;
  font-size: 1rem;
}

.details-input{
  width: 90%;
  height: fit-content;
}

.error-msg{
  position: absolute;
}




/* ##### Buttons, Icons and clickable images ##### */
button{
  cursor: pointer;
}

button:hover{
  filter: brightness(111%);
}

.form-edit-btn{
  width: 90%;
  cursor: pointer;
}

.icon-btn{
  width: 35px;
  height: 35px;
  cursor: pointer;
}

#complete{
  width: 20px;
  height: 20px;
  color: #a37f3f;
  
  border-radius: 5px;
}

.edit-icon{
  width: 30px;
  height: 30px;
  position: absolute;
  top: 3px;
  right: 3px;
  cursor: pointer;
}

.small-btn{
  background:linear-gradient( to bottom, #bcc6cc, #eee, #bcc6cc);
}

img.icon-img{
  width:40px;
  height:40px;
}

.icon-btn:hover{
  transform:scale(110%);
}

section label{
  color: var(--subhead-task-text-color);
  margin-right: 5px;
  font-weight: bolder;
  font-size: 1.3rem;

}

.small-submit-btn{
  color: var(--button-small-submit-text);
  background-color: var(--button-small-submit-bg);
}

.small-delete-btn{
  color: var(--button-small-delete-text);
  background-color: var(--button-small-delete-bg);
}

.med-btn{
  font-family:  Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  background: linear-gradient( to bottom, #bcc6cc, #eee, #bcc6cc);
}

/* ##### Dynamic User Feedback ##### */
.error-feedback{
  color: var(--error-text);
  font-style: italic;
  margin-left: 5px;
  font-size: 16px;
}

.hidden{
  display: none !important;
}

a{
  color: var(--link-color);
}

a:hover{
  color:var(--link-hover-color);
}



/****** RESPONSIVE DESIGN ********/

/* medium screens */
@media(max-width: 1200px){

  main{
    position: relative;
  }
  #projects-sidebar{
    position: absolute;
    right: 0;
    height: 100%;
    width: 60%;
  }
  nav{
    z-index: 3;
  }

  footer{
    z-index: 2;
  }

  .App{
    /* height: fit-content; */
  }


}


/* small screens */
@media(max-width: 600px){
  

  .task-info-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .task-info-container h3,p{
    text-align: left;
    margin: 10px 10px;
  }

  .App{
    height: fit-content;
    min-width: 412px;
  }

  
}





